<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title%>
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h1>Hello <%= name %> <%= lastname %>
    </h1>
    <h2>Supported pages(routes);</h2>
    <ul>
        <li><a href="/records">records</a></li>
        <li><a href="/records/54321">records/54321</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</body>

</html>